body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 600px) {
  .introduction-two-image > img {
    width: 100%;
  }

  .dow-three-wrapper {
    background-size: contain !important;
    height: 27vh !important;
  }

  .hero-slider-background img {
    object-fit: contain !important;
  }
}

.anupam {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 66.64%;
  /* (img-height / img-width * container-width) */
  /* (img-height / img-width * container-width) */
  /* (853 / 1280 * 100) */
}

.background-old {
  background-image: url("./styles/images/pages/one.jpg");
  height: 16em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.background-old > h4 {
  color: #000;
  font-size: 2em;
  font-family: sans-serif;
}

.background-new {
  background-image: url("./styles/images/pages/new.jpeg");
  height: 16em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.background-new > h4 {
  color: #000;
  font-size: 2em;
  font-family: sans-serif;
}

.mobile-img {
  width: 25%;
  padding-top: 5em;
}

.background-text > p {
  font-size: 0.5em;
}

.background-text {
  padding-top: 6em;
}

/* --- TO HIDE DEFAULT SHIT AROOW IN HOMEPAGE CAROUSEL ---- */

.ant-carousel .slick-next:before {
  content: "" !important;
}

.ant-carousel .slick-prev:before {
  content: "" !important;
}
